* {

    font-family: Helvetica, Arial, sans-serif;
    color: white;
    background-color: black;

}

h1 {
    font-size: 60px;
    text-align: center;
    border: 1px white;

}

ul.main-list {

    padding: 20px;
    background-color: white;
    margin: 0px 40px;
    font-size: 20px;

}

.main-list li {

    background-color: white;
    color: black;
    margin: 30px;
    list-style: none;
    text-align: center;

}

.main-list li a{

    background-color: white;
    color: black;


}

.main-list li a:hover{

    background-color: black;
    color: white;


}


img {

    margin: auto;
    display: block;

}

.description {

    text-align: center;

}

.ingredients,
.steps {

    font-size: 25px;

}